.card-box {
    & img {
        width: 100%;
        height: 100%;
        empty-cells: show;
        display: block;
        margin: auto;
        position: relative;
        background-size: cover;
    }
    overflow: hidden;
    padding:10px;
    float: right;
    position: relative;
    empty-cells: show;
}
.card {
    a .two-hover {}
    width: 100%;
    position: relative;
    empty-cells: show;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
}
.card a .two-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
.card a .two-hover:hover {
    opacity: 0.3;
}
.inner-card {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    float: left;
    -webkit-clip-path: polygon(0 53%, 100% 30%, 100% 100%, 0% 100%);
    -o-clip-path:polygon(0 53%, 100% 30%, 100% 100%, 0% 100%);
    -ms-clip-path:polygon(0 53%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0 53%, 100% 30%, 100% 100%, 0% 100%);
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
}
.inner-card h3 {
    margin: 0;
    margin-top: 5px;
    text-indent: 7px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
}
.title {
    margin-top: 8px;
    letter-spacing: 1px;
    font-size: 16px;
    color: $color-text;
}
.songTitle {
    font-family: $font-family-Roya;
    color: $color-text;
    text-indent: 10px;
}
.card-slider {
    position: relative;
    empty-cells: show;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
}
.card-show {
    position: relative;
    empty-cells: show;
}
.card-show-item {
    position: relative;
    empty-cells: show;
}
.card-show-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #000;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
.card-show-hover:hover {
    z-index: 450;
    opacity: 0.5;
}
.inner-card-show {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 30px;
    float: left;
    empty-cells: show;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    z-index: 650;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.inner-card-show .in2 {
    position: relative;
    bottom: 0px;
    padding: 0 10px;
    width: auto;
    height: 30px;
    float: right;
    empty-cells: show;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    z-index: 150;
    opacity: 1;
}
.bestOfWeek {
    border-bottom-color: $color-bestOfWeek;
    .in2 {
        background-color: $color-bestOfWeek;
    }
}
.soon {
    border-bottom-color: $color-soon;
    .in2 {
        background-color: $color-soon;
    }
}
.news {
    border-bottom-color: $color-news;
    .in2 {
        background-color: $color-news;
    }
}
.color-musicVideo {
    background: rgb(255, 87, 6); 
}

.card-show a .show-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #000;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
.card-show a .show-hover:hover {
    opacity: 0.5;
}
.card-type-one {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    empty-cells: show;
}
.music{
.col-card {
    .inner-card {
        background: $color-music;
        opacity: 1;
        div {
            margin-top: 25%;
        }
    }
}
}
.musicvideo {
	.col-card {
    .inner-card {
        background: $color-musicvideo;
        opacity: 1;
        div {
            margin-top: 25%;
        }
    }
}
}
.top-card-box {}
.clip-svg {
  width: 0;
  height: 0;
}
