.music {
    .pager-bottom {
        border-bottom-color: $color-music;
    }
    .inner-pager-left,.inner-pager-right {
        background-color: $color-music;
        //background: rgb(255, 140, 0);background:rgb(255, 87, 6)
    }
}
.musicvideo {
   .pager-bottom {
        border-bottom-color: $color-musicvideo;
    }
    .inner-pager-left,.inner-pager-right {
        background-color: $color-musicvideo;
    }
}
.pager-bottom {
    height: 30px;
    position: relative;
    empty-cells: show;
    width: 100%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    bottom: 0;
}
.pager-bottom a {
    text-decoration: none;
}
.inner-pager-right {
    position: absolute;
    right: 0px;
    padding: 0px 10px;
    height: 30px;
    width: auto;
    float: right;
    empty-cells: show;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    z-index: 999;
    opacity: 1;
}
.inner-pager-left {
    position: relative;
    padding: 0px 10px;
    bottom: 0px;
    height: 30px;
    width: auto;
    float: left;
    empty-cells: show;
    z-index: 999;
}
