//for desktop
@media (min-width: $screen-md) {
    section {
        width: 2500px;
        height: 100%;
        margin-right: 50px;
    }
    .card-box-one,
    .card-box-two {
        height: 100%;
    }
    .card-box-one {
        width: 450px;
    }
    .card-box-two {
        width: 700px;
    }
    .navbar-header {
        .navbar-toggle {
            display: none;
        }
        .navbar-search {
            display: block;
        }
    }
}
//for tablet
@media (min-width:$screen-sm) and (max-width:$screen-md) {
    section {
        width: 2500px;
        height: 100%;
    }
    .card-box-one,
    .card-box-two {
        height: 100%;
    }
    .card-box-one {
        width: 370px;
    }
    .card-box-two {
        width: 430px;
    }
    .sideBar {
        display: none;
    }
    .navbar-header {
        .navbar-search {
            display: none;
        }
        .navbar-toggle {
            display: block;
        }
    }
}
//for mobile
@media (max-width: $screen-sm) {
    .card-box-one,
    .card-box-two {
        width: 100%;
    }
    .card-box-one {
        //   height: 700px;
    }
    .card-box-two {
        // height: 550px;
    }
    section {
        width: 100%;
        height: 2500px;
        margin-right: 0px;
    }
    .sideBar {
        display: none;
    }
    .navbar-header {
        .navbar-search {
            display: none;
        }
        .navbar-toggle {
            display: block;
        }
    }
}