//for desktop
@media (min-width: $screen-md) {
    section {
        width: 2500px;
        height: 100%;
        margin-right: 50px;
    }
    .card-box-one,
    .card-box-two {
        height: 100%;
    }
    .card-box-one {
        width: 450px;
    }
    .card-box-two {
        width: 700px;
    }
    .navbar-header {
        .fa-bars {
            display: none;
        }
    }
}
//for tablet
@media (min-width:$screen-sm) and (max-width:$screen-md){
    section {
        width: 2500px;
        height: 100%;
    }
    .card-box-one,
    .card-box-two {
        height: 100%;
    }
    .card-box-one {
        width: 370px;
    }
    .card-box-two {
        width: 430px;
    }
    .sideBar {
        display: none;
    }
    .navbar-header {
        .fa-search {
            display:none ;
        }
    }
}
//for mobile
@media (max-width: $screen-sm) {
    .card-box-one,
    .card-box-two {
        width: 100%;
    }
    .card-box-one {
     //   height: 700px;
    }
    .card-box-two {
       // height: 550px;
    }
    section {
        width: 100%;
        height: 2500px;
        margin-right: 0px;
    }
    .sideBar {
        display: none;
    }
    .navbar-header {
        .fa-search {
            display:none ;
        }
    }
}
.row {
    //@include make-row;
}
@include make-card;
@include make-card-xs;
//@include make-col-xs;
@media (min-width: $screen-sm-min) {
    @include make-card-sm;
    //@include make-col-sm;
}
@media (min-width: $screen-md-min) {
    @include make-card-md;
    //@include make-col-md;
}
@media (min-width: $screen-lg-min) {
    @include make-card-lg;
    //@include make-col-lg;
}
.columnsAD {
    float: right;
    display: block;
}
