.sideBar {
    height:100%;
    width: $rightSide-width;
    z-index: 250;
    background-color: #f89e48;
    position: fixed;
}
aside {
    height:500px;
    width: 100px;
    z-index: 199;
    & li {
        text-align: center;
    }
}