.sideBar {
    height: 100%;
    width: $rightSide-width;
    z-index: 1010;
    background-color: $colorOne;
    position: fixed;
}
aside {
    position: fixed;
    z-index: 1010;
    display: none;
    height: 100%;
    width: 129px;
    background-color: $colorOne;
    & li {
        text-align: center;
    }
    & a {
        color: $color-text;
    }
    @media(min-width:$screen-md) {
        margin-right: 40px;
    }
}
