@font-face {
    font-family: 'Google';
    src: url('../fonts/Google.eot?#') format('eot'), /* IE6–8 */
    url('../fonts/Google.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Google.ttf') format('truetype');
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.ttf') format('truetype');
}
@font-face {
    font-family: 'Roya';
    src: url('../fonts/Roya.ttf') format('truetype');
}
$font-family-Google: 'Google';
$font-family-Yekan:'Yekan';
$font-family-Roya:'Roya';
$grid-rows: 12 !default;
$grid-gutter-height: 10px !default;
$rightSide-width: 40px;
// color
$colorOne: #f89e48;
$colorTwo: #26344B;
$color-text:white;
$color-grey:#8e8e8e;
$color-brand:#ff6527;
$color-inner-col:#f89110;
$color-inner-slider:#5b241f;
$color-bestOfWeek:#e92324;
$color-soon:#919191;
$pagination-hover-color:#faca80 !default;
//---
$col-card-width:199.213px;
$nav-height:70px;

